.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--dull-blue);
    padding: 1rem;
    align-items: center;
    background-color: var(--dull-blue);
    color: white;
}

#logo-name {
    font-size: xx-large;
    letter-spacing: 15px;
}

.navbar-wrapper div:nth-child(2) {
    flex-basis: 65%;
}

.navbar-wrapper div:nth-child(2) input {
    width: 100%;
    padding: 10px;
    height: 25px;
    background-color: var(--light-prime-gray);
    border-radius: 5px;
    border: none;
    color: white;
}

#movie-search-input:focus {}

.search-bar {
    position: relative;
}

#result-list {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    font-size: large;
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

#result-list>div {
    padding: 5px;
    border-bottom: 1px solid black;
}